# Imports

In [3]:
import pandas as pd
import numpy as np

In [4]:
import warnings
warnings.filterwarnings('ignore')

# Cleaning

In [5]:
# load the data
train = pd.read_csv('mdata/train.csv')
store = pd.read_csv('mdata/store.csv')

In [52]:
df_test = df = pd.merge(train, store, how='outer', on='Store')
df_test['StateHoliday'] = df_test.StateHoliday.apply(lambda x: 1 if x in ['0', 0.0] else 0)
df_test.StateHoliday.unique()

array([0, 1])

In [44]:
# different statistics about the data
# train.info()

# check nulls (difference between NaN and 0)
train.isnull().sum()
(train.isnull() & train.ne(0)).sum()
train.isnull().sum()/len(train)

# see rows with NaN
train[train['Store'].isnull()]

# have look at the duplicates - they look crappy we drop them
train[train.duplicated()].head(6)

# check for question marks which are sometimes placeholder for NaN
train.select_dtypes(exclude=np.number).apply( lambda x: x.str.contains("\?", regex=True) ).any()

train.describe().T

,count,mean,std,min,25%,50%,75%,max
Store,618473.0,558.105623,321.885545,1.0,279.0,558.0,837.0,1115.0
DayOfWeek,618757.0,3.994914,1.997485,1.0,2.0,4.0,6.0,7.0
Sales,618747.0,5668.015834,3809.655137,0.0,3640.0,5625.0,7714.0,38037.0
Customers,618683.0,628.909831,463.786905,0.0,397.0,604.0,833.0,7388.0
Open,618588.0,0.829167,0.376363,0.0,1.0,1.0,1.0,1.0
Promo,618580.0,0.370447,0.482925,0.0,0.0,0.0,1.0,1.0
SchoolHoliday,618437.0,0.173253,0.378466,0.0,0.0,0.0,0.0,1.0

In [ ]:
import datetime
store = pd.read_csv('mdata/store.csv')


def data_cleaner(df, store):
    df = pd.merge(df, store, how='outer', on='Store')
    df = df.drop_dupicates()
    df = df.dropna()
    # convert string Date to datetime
    df['Date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')

# join tables

In [48]:
df_merge.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1,2013-01-02,1115.0,3.0,3697.0,305.0,1.0,0.0,d,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
2,2013-01-03,1115.0,4.0,4297.0,300.0,1.0,0.0,d,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
3,2013-01-04,1115.0,5.0,4540.0,326.0,1.0,0.0,d,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
4,2013-01-05,1115.0,6.0,4771.0,339.0,1.0,0.0,d,1.0,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [16]:
df_merge.describe().T

,count,mean,std,min,25%,50%,75%,max
Store,499419.0,558.377344,321.781838,1.0,280.0,558.0,837.0,1115.0
DayOfWeek,499419.0,3.994309,1.998609,1.0,2.0,4.0,6.0,7.0
Sales,499419.0,5667.252594,3807.125268,0.0,3645.0,5628.0,7712.0,38037.0
Customers,499419.0,628.731622,463.445275,0.0,398.0,604.0,833.0,7388.0
Open,499419.0,0.828953,0.376550,0.0,1.0,1.0,1.0,1.0
Promo,499419.0,0.370058,0.482820,0.0,0.0,0.0,1.0,1.0
SchoolHoliday,499419.0,0.172987,0.378236,0.0,0.0,0.0,0.0,1.0
CompetitionDistance,498126.0,5408.228079,7668.055869,20.0,710.0,2330.0,6880.0,75860.0
CompetitionOpenSinceMonth,340862.0,7.224317,3.211073,1.0,4.0,8.0,10.0,12.0
CompetitionOpenSinceYear,340862.0,2008.675769,6.139989,1900.0,2006.0,2010.0,2013.0,2015.0
Promo2,499419.0,0.508689,0.499925,0.0,0.0,1.0,1.0,1.0
Promo2SinceWeek,254049.0,23.501092,14.118649,1.0,13.0,22.0,37.0,50.0
Promo2SinceYear,254049.0,2011.760184,1.670374,2009.0,2011.0,2012.0,2013.0,2015.0

In [17]:
# change no StateHoliday from 0 to 'd' for propper labeling
# now we have a = public holiday, b = Easter holiday, c = Christmas, d = None
df_merge['StateHoliday'] = df_merge.StateHoliday.apply(lambda x: 'd' if x in ['0', 0.0] else x)

In [47]:
train.StateHoliday.isnull().sum()

19254

In [18]:
df_merge.StateHoliday.unique()

array(['a', 'd', 'b', 'c'], dtype=object)

In [19]:
df_merge.SchoolHoliday.unique()
df_merge.StoreType.unique()
df_merge.Assortment.unique()
df_merge.CompetitionOpenSinceMonth.unique()

array([nan,  8.,  6.,  2.,  9.,  7., 10.,  4., 12.,  5., 11.,  3.,  1.])

In [33]:
df_merge.convert_dtypes()
df_dtypes = df_merge.convert_dtypes()
df_dtypes.dtypes

Date                         datetime64[ns]
Store                                 Int64
DayOfWeek                             Int64
Sales                                 Int64
Customers                             Int64
Open                                  Int64
Promo                                 Int64
StateHoliday                         string
SchoolHoliday                         Int64
StoreType                            string
Assortment                           string
CompetitionDistance                   Int64
CompetitionOpenSinceMonth             Int64
CompetitionOpenSinceYear              Int64
Promo2                                Int64
Promo2SinceWeek                       Int64
Promo2SinceYear                       Int64
PromoInterval                        string
dtype: object

In [35]:
df_dtypes.describe().T

,count,mean,std,min,25%,50%,75%,max
Store,499419.0,558.377344,321.781838,1.0,280.0,558.0,837.0,1115.0
DayOfWeek,499419.0,3.994309,1.998609,1.0,2.0,4.0,6.0,7.0
Sales,499419.0,5667.252594,3807.125268,0.0,3645.0,5628.0,7712.0,38037.0
Customers,499419.0,628.731622,463.445275,0.0,398.0,604.0,833.0,7388.0
Open,499419.0,0.828953,0.376550,0.0,1.0,1.0,1.0,1.0
Promo,499419.0,0.370058,0.482820,0.0,0.0,0.0,1.0,1.0
SchoolHoliday,499419.0,0.172987,0.378236,0.0,0.0,0.0,0.0,1.0
CompetitionDistance,498126.0,5408.228079,7668.055869,20.0,710.0,2330.0,6880.0,75860.0
CompetitionOpenSinceMonth,340862.0,7.224317,3.211073,1.0,4.0,8.0,10.0,12.0
CompetitionOpenSinceYear,340862.0,2008.675769,6.139989,1900.0,2006.0,2010.0,2013.0,2015.0
Promo2,499419.0,0.508689,0.499925,0.0,0.0,1.0,1.0,1.0
Promo2SinceWeek,254049.0,23.501092,14.118649,1.0,13.0,22.0,37.0,50.0
Promo2SinceYear,254049.0,2011.760184,1.670374,2009.0,2011.0,2012.0,2013.0,2015.0

In [22]:
# convert string Date to datetime
# import datetime
# df_dtypes['Date'] = pd.to_datetime(df_dtypes.Date, format='%Y-%m-%d')
# df_dtypes.Date

In [23]:
df_merge.PromoInterval.unique()

array(['Mar,Jun,Sept,Dec', nan, 'Feb,May,Aug,Nov', 'Jan,Apr,Jul,Oct'],
      dtype=object)

# encoding, fillna, datatypes
m, f, j, n

In [24]:
d = {'Mar,Jun,Sept,Dec': 1, 'Feb,May,Aug,Nov':2, 'Jan,Apr,Jul,Oct':3, np.nan: 0}
df_map = df_merge.copy()

df_map['PromoInterval'] = df_map['PromoInterval'].map(d)
df_map.PromoInterval.unique()

array(['m', 'n', 'f', 'j'], dtype=object)

In [25]:
for k, v in  d.items():
  print(f'{k}: {v}')

Mar,Jun,Sept,Dec: m
Feb,May,Aug,Nov: f
Jan,Apr,Jul,Oct: j
nan: n

In [26]:
df_map.PromoInterval.isnull().sum()

0

In [27]:
# downcasting numeric columns for better performance while plotting (hopefully)
for col in df_map.columns:
    if pd.api.types.is_numeric_dtype(df_map[col]):
        df_map[col] = pd.to_numeric(df_map[col], downcast='integer')

In [28]:
# finding the smallestes possible datatype, imputing and handling NA en passant

# df_map2.DayOfWeek = df_map.DayOfWeek.astype('int8')

# median imputing and converting to int (nobody cares for half a meter to the Competition)
median_distance = df_map.CompetitionDistance.median()
competiton_distance = df_map.CompetitionDistance.fillna(median_distance).round()
df_map.CompetitionDistance = pd.to_numeric(competiton_distance, downcast='integer')
df_map.dtypes

Date                         datetime64[ns]
Store                                 int16
DayOfWeek                              int8
Sales                                 int32
Customers                             int16
Open                                   int8
Promo                                  int8
StateHoliday                         object
SchoolHoliday                          int8
StoreType                            object
Assortment                           object
CompetitionDistance                   int32
CompetitionOpenSinceMonth           float64
CompetitionOpenSinceYear            float64
Promo2                                 int8
Promo2SinceWeek                     float64
Promo2SinceYear                     float64
PromoInterval                        object
dtype: object

In [40]:
df_map.Promo2.unique
df_map2 = df_map.copy()

df_map2.Open = df_map2.Open.astype(bool)
df_map2.Promo = df_map2.Promo.astype(bool)
df_map2.Promo2 = df_map2.Promo2.astype(bool)
df_map2.SchoolHoliday = df_map2.SchoolHoliday.astype(bool)
df_map2.CompetitionOpenSinceMonth = df_map2.CompetitionOpenSinceMonth.fillna(0).round().astype('int')
df_map2.CompetitionOpenSinceYear = df_map2.CompetitionOpenSinceYear.fillna(0).round().astype('int')
df_map2.Promo2SinceWeek = df_map2.Promo2SinceWeek.fillna(0).round().astype('int')
df_map2.Promo2SinceYear = df_map2.Promo2SinceYear.fillna(0).round().astype('int')

df_map2.dtypes

Date                         datetime64[ns]
Store                                 int16
DayOfWeek                              int8
Sales                                 int32
Customers                             int16
Open                                   bool
Promo                                  bool
StateHoliday                         object
SchoolHoliday                          bool
StoreType                            object
Assortment                           object
CompetitionDistance                   int32
CompetitionOpenSinceMonth             int64
CompetitionOpenSinceYear              int64
Promo2                                 bool
Promo2SinceWeek                       int64
Promo2SinceYear                       int64
PromoInterval                        object
dtype: object

In [41]:
df_map2.describe().T

,count,mean,std,min,25%,50%,75%,max
Store,499419.0,558.377344,321.781838,1.0,280.0,558.0,837.0,1115.0
DayOfWeek,499419.0,3.994309,1.998609,1.0,2.0,4.0,6.0,7.0
Sales,499419.0,5667.252594,3807.125268,0.0,3645.0,5628.0,7712.0,38037.0
Customers,499419.0,628.731622,463.445275,0.0,398.0,604.0,833.0,7388.0
CompetitionDistance,499419.0,5400.258520,7659.720481,20.0,720.0,2330.0,6880.0,75860.0
CompetitionOpenSinceMonth,499419.0,4.930719,4.283284,0.0,0.0,4.0,9.0,12.0
CompetitionOpenSinceYear,499419.0,1370.955530,935.047362,0.0,0.0,2006.0,2011.0,2015.0
Promo2SinceWeek,499419.0,11.954749,15.473651,0.0,0.0,1.0,22.0,50.0
Promo2SinceYear,499419.0,1023.360471,1005.729904,0.0,0.0,2009.0,2012.0,2015.0

In [42]:
#write the cleaned data to disk
df_map2.to_csv('./mdata/df_merged_optimized.csv',index=False)

In [31]:
df_map2[df_map2['Promo2SinceWeek'].isnull()]
# df_map2.isnull().sum()/len(df_map2)
df_merge.isnull().sum()/len(df_merge)

Date                         0.000000
Store                        0.000000
DayOfWeek                    0.000000
Sales                        0.000000
Customers                    0.000000
Open                         0.000000
Promo                        0.000000
StateHoliday                 0.000000
SchoolHoliday                0.000000
StoreType                    0.000000
Assortment                   0.000000
CompetitionDistance          0.002589
CompetitionOpenSinceMonth    0.317483
CompetitionOpenSinceYear     0.317483
Promo2                       0.000000
Promo2SinceWeek              0.491311
Promo2SinceYear              0.491311
PromoInterval                0.491311
dtype: float64

In [32]:
df_merge.StoreType.unique()

array(['d', 'a', 'c', 'b'], dtype=object)